
<h1 class="text-center mb-3">{{title }}</h1>

<form class="mb-4" method="POST" action="/api/members">
<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" name="name">
</div>
<div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" name="email">
</div>
<input type="submit" value="Add Member" class="btn btn-primary btn-block">
</form>

<h4>Members</h4>
<ul>
{{#each members}}
    <li class="list-group-item">{{this.name }} : {{this.email}}</li>
{{/each}}

<!--adding some comments-->
</ul>